<div class="gravatars">
  <div class="gravatarlabel">{{gravatarLabel}}</div>
  <img src={{gravatarUrl}}>
  <div class="email-input">
    {{input type="email" value=email placeholder="Enter your Gravatar e-mail"}}
  </div>
</div>
