
<h1>Welcome!</h1>
<br/>
<div>Sebastian</div>
<br/>

<div>
<p>
  {{gravatar-image email="tomster@emberjs.com" size="120"}}
</p>
<p>
  {{#about-profile twitter="http://www.twitter.com/erikch" name="John Smith"
    title="Engineer I" image="https://placekitten.com/g/200/300"}}
    Engineer since 2004 with many abilities
  {{/about-profile}}
</p>
</div>
<br/>
